<!DOCTYPE html>
<html>
<head>
  <title>Sidhant Panda, Software Engineer.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-white navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed brand-color-box" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
      <a class="navbar-brand" href="/"><strong>Sidhant Panda</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/blog">Blog <span class="glyphicon glyphicon-pencil"></span></a></li>
        <li><a href="/music">Music <span class="glyphicon glyphicon-music"></span></a></li>
        <li><a href="/photography">Photography <span class="glyphicon glyphicon-picture"></span></a></li>
        <li><a href="https://drive.google.com/file/d/0ByKJ2TLv_dSdUDlQbno3LXdzR0E/view" target="_blank">Resume <span class="glyphicon glyphicon-download-alt"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron brand-color-box ">
  <div class="container">
    <h1>Sidhant Panda</h1>
    <p>Software Engineer, Tech Blogger, Amatuer Musician & Noob Photographer!</p>
  </div>
</div>


<div class="container">
  <div class="main-body col-md-9">
    <%= yield %>
  </div>

  <div class="col-md-3">
    <div>
      <figure>
        <img src="<%= asset_path('image.jpg') %>" alt="Sidhant Panda" class="img-circle" style="width: 96px; height: 96px;">
      </figure>
      <br>
      <p>Hey! I’m <strong>Sidhant Panda</strong>. I'm a Software Engineer and work for a Furniture Rental Startup, <a href="https://www.furlenco.com/" rel="external" target="_blank">Furlenco</a>, based in Bangalore, India.</p>
      <p>I primarily work on Ruby on Rails and specialize in RESTful API development. Outside of work, I play some <a href="/photography">Music</a> and click <a href="/photography">Photos</a>.
    </div>
    <div class="card">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Want to get in touch?</h4>
          <br>
          <p>
            Say <a href="mailto:hello@sidhantpanda.in" target="_blank">Hello</a>, or connect with me!
          </p>
          <div class="row">
            <div class="col-md-6">
              <a href="https://fb.com/sidpan" target="_blank" class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-twitter"></span> Facebook
              </a>
            </div>

            <div class="col-md-6">
              <a href="https://instagram.com/sidhupanda" target="_blank" class="btn btn-block btn-social btn-instagram">
                <span class="fa fa-instagram"></span> Instagram
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <a href="https://github.com/sidpan1" target="_blank" class="btn btn-block btn-social btn-github">
                <span class="fa fa-github"></span> Github
              </a>
            </div>

            <div class="col-md-6">
              <a href="https://linkedin.com/in/sidpan" target="_blank" class="btn btn-block btn-social btn-linkedin">
                <span class="fa fa-linkedin"></span> LinkedIn
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<div class="container text-center">
  <hr>
  <footer>
    <p><a href="http://madewithlove.org.in" target="_blank">Made with <span style="color: #e74c3c">&hearts;</span> in India</a></p>
  </footer>
</div>



</html>
